[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "piano"]
	path = piano
	url = https://github.com/varemo/piano
	shallow = true
	registered = true
